<div class="panel panel-primary">
    <div class="panel-heading">Authors</div>
    <div class="panel-body">

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Genre</th>
                        <th>Age</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let author of authors'>
                        <td>
                            <a class="btn btn-sm btn-primary"
                            [routerLink]="['/authors', author.id, 'books']">
                                View Books
                            </a>
                        </td>
                        <td>{{author.name}}</td>
                        <td>{{author.genre}}</td>
                        <td>{{author.age}}</td>
                    </tr>
                </tbody>
            </table>

        </div>
        <button (click)="this.getAuthor(1)">Refresh</button>
    </div>
</div>